<plugin name='gorm-hbase' version='0.2' grailsVersion='1.2.1'>
  <author>Keith Thomas</author>
  <authorEmail>redcoat.systems@gmail.com</authorEmail>
  <title>GORM-HBase Plug-in</title>
  <description>\
A plug-in that emulates the behavior of the GORM-Hibernate plug-in against a Hadoop HDFS HBase 0.20.3 datasource
</description>
  <documentation>http://grails.org/plugin/gorm-hbase</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>InRootDir</resource>
    <resource>org.grails.hbase.Author</resource>
    <resource>org.grails.hbase.Book</resource>
    <resource>org.grails.hbase.Publisher</resource>
    <resource>org.grails.hbase.SortMe</resource>
    <resource>org.grails.hbase.SupportedPropertyTypes</resource>
  </resources>
  <dependencies>
    <resolvers>
      <resolver type='grailsPlugins' name='grailsPlugins' />
    </resolvers>
  </dependencies>
  <behavior>
    <method name='delete' artefact='Domain' type='InRootDir'>
      <description />
      <argument type='java.lang.Object' />
    </method>
    <method name='save' artefact='Domain' type='InRootDir'>
      <description />
      <argument type='java.lang.Boolean' />
    </method>
    <method name='save' artefact='Domain' type='InRootDir'>
      <description />
      <argument type='java.util.Map' />
    </method>
    <method name='save' artefact='Domain' type='InRootDir'>
      <description />
    </method>
    <method name='delete' artefact='Domain' type='org.grails.hbase.SortMe'>
      <description />
      <argument type='java.lang.Object' />
    </method>
    <method name='save' artefact='Domain' type='org.grails.hbase.SortMe'>
      <description />
      <argument type='java.lang.Boolean' />
    </method>
    <method name='save' artefact='Domain' type='org.grails.hbase.SortMe'>
      <description />
      <argument type='java.util.Map' />
    </method>
    <method name='save' artefact='Domain' type='org.grails.hbase.SortMe'>
      <description />
    </method>
    <method name='delete' artefact='Domain' type='org.grails.hbase.Book'>
      <description />
      <argument type='java.lang.Object' />
    </method>
    <method name='save' artefact='Domain' type='org.grails.hbase.Book'>
      <description />
      <argument type='java.lang.Boolean' />
    </method>
    <method name='save' artefact='Domain' type='org.grails.hbase.Book'>
      <description />
      <argument type='java.util.Map' />
    </method>
    <method name='save' artefact='Domain' type='org.grails.hbase.Book'>
      <description />
    </method>
    <method name='getPublisher' artefact='Domain' type='org.grails.hbase.Book'>
      <description />
    </method>
    <method name='delete' artefact='Domain' type='org.grails.hbase.SupportedPropertyTypes'>
      <description />
      <argument type='java.lang.Object' />
    </method>
    <method name='save' artefact='Domain' type='org.grails.hbase.SupportedPropertyTypes'>
      <description />
      <argument type='java.lang.Boolean' />
    </method>
    <method name='save' artefact='Domain' type='org.grails.hbase.SupportedPropertyTypes'>
      <description />
      <argument type='java.util.Map' />
    </method>
    <method name='save' artefact='Domain' type='org.grails.hbase.SupportedPropertyTypes'>
      <description />
    </method>
    <method name='delete' artefact='Domain' type='org.grails.hbase.Publisher'>
      <description />
      <argument type='java.lang.Object' />
    </method>
    <method name='save' artefact='Domain' type='org.grails.hbase.Publisher'>
      <description />
      <argument type='java.lang.Boolean' />
    </method>
    <method name='save' artefact='Domain' type='org.grails.hbase.Publisher'>
      <description />
      <argument type='java.util.Map' />
    </method>
    <method name='save' artefact='Domain' type='org.grails.hbase.Publisher'>
      <description />
    </method>
    <method name='delete' artefact='Domain' type='org.grails.hbase.Author'>
      <description />
      <argument type='java.lang.Object' />
    </method>
    <method name='save' artefact='Domain' type='org.grails.hbase.Author'>
      <description />
      <argument type='java.lang.Boolean' />
    </method>
    <method name='save' artefact='Domain' type='org.grails.hbase.Author'>
      <description />
      <argument type='java.util.Map' />
    </method>
    <method name='save' artefact='Domain' type='org.grails.hbase.Author'>
      <description />
    </method>
    <method name='getBooks' artefact='Domain' type='org.grails.hbase.Author'>
      <description />
    </method>
    <method name='getBooks' artefact='Domain' type='org.grails.hbase.Author'>
      <description />
      <argument type='java.lang.Object' />
    </method>
    <method name='setBooks' artefact='Domain' type='org.grails.hbase.Author'>
      <description />
      <argument type='java.util.Set' />
    </method>
    <method name='addToBooks' artefact='Domain' type='org.grails.hbase.Author'>
      <description />
      <argument type='java.lang.Object' />
    </method>
    <method name='removeFromBooks' artefact='Domain' type='org.grails.hbase.Author'>
      <description />
      <argument type='java.lang.Object' />
    </method>
    <property name='publisher__association__id__' type='org.grails.hbase.Book' artefact='Domain'>
      <description />
    </property>
    <property name='publisher' type='org.grails.hbase.Book' artefact='Domain'>
      <description />
    </property>
    <property name='books__association__id__list__' type='org.grails.hbase.Author' artefact='Domain'>
      <description />
    </property>
    <property name='books' type='org.grails.hbase.Author' artefact='Domain'>
      <description />
    </property>
    <property name='books' type='org.grails.hbase.Author' artefact='Domain'>
      <description />
    </property>
  </behavior>
</plugin>